<!-- Creating a Form-->
<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span class ="title-center">Sign-Up</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="signupForm">
        <div fxFlex fxLayout = "column">
            <!--Validation-->
            <!--Name -->
            <mat-form-field apperance="fill" fxFlex>
                <mat-label>Name</mat-label>
                <input matInput formControlName="firstName" required>
                <mat-error *ngIf="signupForm.control.name.touched && signupForm.control.name.invalid">
                    <span *ngIf="signupForm.controls.name.errors.required">This field is mandatory.</span>
                    <span *ngIf="signupForm.controls.name.errors.pattern">This field is invalid.</span>
                    
                </mat-error>
                    
            </mat-form-field>
            <!-- Email-->
            <mat-form-field apperance="fill" fxFlex>
                <mat-label>Email</mat-label>
                <input matInput formControlName="email" required>
                <mat-error *ngIf="signupForm.control.email.touched && signupForm.control.email.invalid">
                    <span *ngIf="signupForm.controls.email.errors.required">This field is mandatory.</span>
                    <span *ngIf="signupForm.controls.email.errors.pattern">This field is invalid.</span>
                    
                </mat-error>
                    
            </mat-form-field>
            <!--contactNumber-->
            <mat-form-field apperance="fill" fxFlex>
                <mat-label>Contact Number</mat-label>
                <input matInput formControlName="contactNumber" required>
                <mat-error *ngIf="signupForm.control.contactNumber.touched && signupForm.control.contactNumber.invalid">
                    <span *ngIf="signupForm.controls.contactNumber.errors.required">This field is mandatory.</span>
                    <span *ngIf="signupForm.controls.contactNumber.errors.pattern">This field is invalid.</span>
                    
                </mat-error>
                    
            </mat-form-field>
            <!--Password-->
            <mat-form-field apperance="fill" fxFlex>
                <mat-label>Password</mat-label>
                <input matInput formControlName="password" type = "password" required>
                <mat-error *ngIf="signupForm.control.password.touched && signupForm.control.password.invalid">
                    <span *ngIf="signupForm.controls.password.errors.required">This field is mandatory.</span>
                    <span *ngIf="signupForm.controls.password.errors.pattern">This field is invalid.</span>
                    
                </mat-error>
                    
            </mat-form-field>
        </div>
    </form>
</mat-dialog-content>

<!--Button -->

<mat-dialog-actions align="center">
    <button mat-raised-button color="primary" type="submit" (click) = "handleSubmit()"
    [disabled]="!(signupForm.valid && signupForm.dirty)"  
    >Signup</button>  <!--Validation for Signup-->

    <button mat-raised-button color="primary" mat-dialog-close>Close</button>
</mat-dialog-actions>